<div class="scan__head p-2">
  <a routerLink="/configure-devices" routerLinkActive="active" class="p-3 btn btn-primary rounded">
    <i class="bi bi-arrow-left text-light"></i>
  </a>
</div>

<div class="scan__main container-fluid d-flex flex-column justify-content-between p-3">



  <h1 class="fw-light text-center text-secondary border-bottom p-3 mb-4">
    available devices
  </h1>

  <div style="max-height: 60vh; overflow: scroll">
    <ul>
      <li *ngFor="let device of devices" class="d-flex justify-content-between p-3 border-bottom">
        <button (click)="connectToDevice(device)" class="btn btn-outline-primary d-flex flex-column align-items-start">
          <span>{{device.name}}</span>
          <span class="fw-light">{{device.address}}</span>
        </button>
    </ul>
  </div>

  <div *ngIf="isScanningNow" class="w-100 d-flex flex-column align-items-center">
    <div class="spinner-border text-primary" role="status"></div>
    <span>Scanning...</span>
  </div>

  <div class="w-100 d-flex justify-content-center">
    <button class="btn btn-primary p-3 w-75" (click)="scan()">scan</button>
  </div>

</div>
