<div class="home__head d-flex align-items-center">

  <h1 class="text-center text-light"><span class="fw-light">Welcome to </span> <span
      class="fw-bold">ServerRoomMonitor!</span></h1>

</div>

<div class="home__main container-fluid">

  <div class="row">
    <div class="col-12">
      <div class="home__buttons py-5 d-flex flex-column gap-5 align-items-center justify-content-center">

        <a routerLink="/measurements-devices" routerLinkActive="active" class="shadow w-50 p-4 btn btn-primary rounded">measurements</a>

        <a routerLink="/configure-devices" routerLinkActive="active" class="w-50 p-4 btn btn-primary rounded">configure devices</a>

        <a routerLink="/sign-in" routerLinkActive="active" class="w-50 p-4 btn btn-outline-primary border border-primary rounded">sign-in</a>
      </div>
    </div>
  </div>


</div>
