<div class="measurements__head p-2">

  <a routerLink="/measurements" routerLinkActive="active" class="p-3 btn btn-primary rounded">
    <i class="bi bi-arrow-left text-light"></i>
  </a>

</div>

<div class="container-fluid">

  <h1 class="fw-light text-center text-secondary border-bottom p-3 mb-4">
    <span class="fw-bold">{{device?.name}}</span> measurements:
  </h1>


  <div class="accordion" id="measurementsAccordion">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne">
          Humidity
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#measurementsAccordion">
        <div class="accordion-body">
          <!-- <div *ngFor="let measurement of (measurements?.humidity)" class="mt-2">
            <div class="d-flex w-100 gap-3 justify-content-between"><span class="fw-light">timestamp:</span><span class="">{{measurement.timestamp}}</span></div>

            <div class="d-flex w-100 gap-3 justify-content-between"><span class="fw-light">value:</span><span class="">{{measurement.value}}%</span></div>
          </div> -->

          <div *ngIf="getLastHumidity() != null" class="w-100">
            <h1 class="text-center fw-light"> Last measurement at <div class="text-secondary">{{getLastHumidityDate()}}
              </div>
              <div class="badge bg-primary">{{getLastHumidity()}}%</div>
            </h1>
          </div>

          <div class="chart-container w-100" style="overflow-x: auto;">
            <div style="height: 300px; min-width: 100%;" class="p-3" [style]="{width: humidityChartWidth()}">
              <canvas id="humidityChart"> {{humidityChart}} </canvas>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header" id="headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#collapseTwo">
          Temperature
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#measurementsAccordion">
        <div class="accordion-body">
          <!-- <div *ngFor="let measurement of (measurements?.temperature)" class="mt-2">
            <div class="d-flex w-100 gap-3 justify-content-between"><span class="fw-light">timestamp:</span><span class="">{{measurement.timestamp}}</span></div>

            <div class="d-flex w-100 gap-3 justify-content-between"><span class="fw-light">value:</span><span class="">{{measurement.value}}°C</span></div>
          </div> -->

          <div *ngIf="getLastTemperature() != null" class="w-100">
            <h1 class="text-center fw-light"> Last measurement at <div class="text-secondary">
                {{getLastTemperatureDate()}}</div>
              <div class="badge bg-primary">{{getLastTemperature()}}°C</div>
            </h1>
          </div>

          <div class="chart-container w-100" style="overflow-x: auto;">
            <div style="height: 300px; min-width: 100%;" class="p-3" [style]="{width: temperatureChartWidth()}">
              <canvas id="temperatureChart"> {{temperatureChart}} </canvas>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

</div>
